<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordes</title>
    <style>
        .a{
            border: 5px solid red;
            border-top-style: dotted;
        }

        .b{
            border: 5px dotted blue;
        }

        .c{
            border: double;
        }

        .e{
            border:  3px solid;
            border-radius: 15px;
        }

        .d{
            border: solid;
            border-radius: 2px 5px;
        }
    </style>
</head>
<body>
    <p class="a">Rojo solido</p>
    <p class="b">Blue punteado</p>
    <p class="c">Doble</p>
    <p class="e">Radius</p>
    <p class="d">Radius 2</p>
</body>
</html>