<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores simples</title>
    <link rel="stylesheet" href="C:\xampp\htdocs\DesarrolloWeb\css\estilo_selector_simple.css">
</head>
<body>
    <h1>Encabezado de h1</h1>
    <h2>Encabezado de h2</h2>
    <p >Por nombre</p>
    <p id="id_p">Por id</p>
    <p class="right-deeppink">Por clase</p>
    <p class="red">Por nombre y clase</p>
    <p class="brown large">Este parrafo tiene dos clases</p>

</body>
</html>