<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transicion</title>
    <style>
        div{
            width: 100px;
            height: 100px;
            background-color: gold;
            /**POR PROPIEDAD**/
            transition-property: height width;
            /**POR DURACION**/
            transition-duration: 2s;
            /**POR RETARDO**/
            transition-delay: 2s;
        }

        div:hover{
            width: 300px;
            height: 250px;
        }

    </style>
</head>
<body>
    <p>Pon el cursor sobre el cuadro y mira la transicion...</p>
    <div></div>

</body>
</html>