<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colores</title>
</head>
<body style="background-color: violet;">
    
    <h1 style="background-color: aqua;">ENCABEZADO</h1>
    <h2 style="background-color: blue; color: cornflowerblue;">ENCABEZADO</h2>

    <h2 style="background-color: rgb(209, 29, 29);">COLOR CON RGB</h2>

    <div style="background-color:yellow;">
        <br>
        <h2 style="background-color: rgb(209, 29, 29, 0.3 );">TRASPARENCIA</h2>

    </div>

</body>
</html>